<% layout("/layouts/boilerplate")%>
<div class=" col-8 offset-2">
<h1>Edit Your Listings</h1>
<form method="POST" action="/list/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
  <div class="mb-3 mt-3">
    <label for="title" class="form-label">Title</label>
    <input
      name="lists[title]"
      value="<%= listing.title %>"
      type="text"
      class="form-control"
      required
    />
  </div>
  <div>
    <label for="description" class="form-label">description</label>
    <textarea name="lists[description]" class="form-control" required>
<%= listing.description %></textarea
    >
  </div>

  <div>
    <label for="image" class="form-label">Image Link</label>
    <input
      name="lists[image]"
      class="form-control"
      value="<%= listing.image.url %>"
      type="text"
      required
    />
  </div>
<div class="row">
  <div class="col-4">
    <label for="price" class="form-label">Price</label>
    <input
      name="lists[price]"
      class="form-control"
      value="<%= listing.price %>"
      type="text"
      required
    />
  </div>
  <div class="col-8">
    <label for="country" class="form-label">Country</label>
    <input
      name="lists[country]"
      class="form-control"
      value="<%= listing.country %>"
      type="text"
      required
    />
  </div>
</div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      name="lists[location]"
      class="form-control"
      value="<%= listing.location %>"
      type="text"
      required
    />
  </div>
  <button class="edit-btn">Edit</button>
</form>
</div>
<script src="/js/script.js"></script>
